    * {
        overflow-x: hidden;
    }
    
    body {
        padding: 0;
        margin: 0;
        font-family: 'Lato', sans-serif !important;
        overflow-x: hidden;
    }
    
    header {
        position: fixed;
        width: 100%;
        height: 130px;
        background-color: transparent;
        z-index: 11;
    }
    
    header>nav {
        width: 100%;
        display: flex;
    }
    
    nav>img {
        height: 110px;
        width: 150px;
        margin-top: 10px;
        vertical-align: middle;
    }
    
    #carrusel1 {
        width: 100%;
        height: 720px;
        outline: none;
    }
    
    .sec1 {
        width: 100%;
        height: 720px;
        margin: 0 !important;
        padding: 0 !important;
        background-color: #fffff1;
    }
    
    #text-section1 {
        color: black;
        margin: 140px 0 0 30px;
        position: absolute;
    }
    
    #text-section1>h3 {
        background-color: rgb(202, 83, 84);
        color: white;
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        line-height: 30px;
        height: 30px;
        width: 200px;
    }
    
    #text-section1>h2 {
        color: white;
        margin-top: 40px;
        font-size: 90px;
        font-weight: 100;
        line-height: 30px;
    }
    
    #text-section1>h1 {
        color: white;
        margin-top: 50px;
        font-size: 60px;
        font-weight: 700;
        line-height: 30px;
    }
    
    #carrusel1 {
        width: 100%;
        height: 720px;
        padding: 0;
        outline: none;
    }
    
    .carrusel1-1 {
        width: 100%;
        height: 100%;
        z-index: 0;
    }
    
    .carrusel1-2 {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
    }
    
    .carrusel1-3 {
        z-index: 2;
        position: absolute;
        background-color: rgba(36, 180, 185, 0.5);
        color: white;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 245px;
        text-align: center;
    }
    
    #carrusel1-3-1>div>div>p {
        text-align: left !important;
    }
    
    .iconocontactosimg {
        width: 100%;
    }
    
    .iconocontactosp {
        width: 25px;
        height: 25px;
        text-align: right !important;
        vertical-align: middle;
    }
    
    .botonespri {
        background-color: transparent;
        margin: 5px;
        width: 45%;
        height: 50px;
        border: 2px solid white;
        font-style: oblique;
        color: white;
    }
    
    .botonespri::placeholder {
        color: white;
    }
    
    .botonpri {
        margin: 5px;
        width: 45%;
        height: 50px;
        font-weight: 700;
        background-color: white;
        color: black;
        border: 0;
    }
    
    #carrusel1-3-3>div>div>p {
        text-align: left;
        font-size: 20px;
        font-weight: 800;
    }
    
    .sec2 {
        width: 100%;
        height: 600px;
        background-color: #F5F9FC;
    }
    
    .sec2>article {
        margin: 120px 0 120px 0;
        text-align: center;
    }
    
    .sec2>article>h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 0%;
    }
    
    .sec2>article>h3 {
        font-size: 22px;
        font-weight: 900;
        line-height: 0%;
    }
    
    .sec2>article>img {
        width: 260px;
        height: 250px;
    }
    
    .sec3 {
        width: 100%;
        height: 750px;
        background-image: url('../Images/Fondos/sec3.png');
        text-align: center;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .sec3:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(7, 24, 67, .9);
    }
    
    .sec3>article {
        height: 100%;
        text-align: left;
    }
    
    .sec3>article>img {
        z-index: 0;
        align-items: flex-start;
        position: relative;
        margin-left: -60px;
        top: -55px;
        height: 108%;
        width: 140%;
    }
    
    .sec3>article>h1 {
        margin-top: 50px;
        font-size: 32px;
        font-weight: 500;
        color: #fffff1;
    }
    
    .sec3>article>h2 {
        font-size: 40px;
        font-weight: 900;
        line-height: 10%;
        color: rgba(35, 195, 255, 1);
    }
    
    .sec3>article>p {
        font-size: 18px;
        margin-top: 50px;
        width: 74%;
        font-weight: 500;
        color: #fffff1;
    }
    
    .redes {
        display: flex;
        width: 100%;
    }
    
    .redes>img {
        position: absolute;
        width: 200px;
        height: 150px;
        right: -20px;
        bottom: -40px;
    }
    
    .redes>a {
        width: 49px;
        height: 49px;
        padding: 0 !important;
    }
    
    .sec4 {
        width: 100%;
        height: 750px;
        background-image: url('../Images/Fondos/sec4-1.png');
        text-align: center;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .sec4:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(36, 180, 185, 0.9);
    }
    
    .sec4>article {
        margin-top: 100px;
    }
    
    .sec4>article>h2 {
        font-size: 70px;
        font-weight: 500;
        color: white;
    }
    
    .sec4>article>h1 {
        font-size: 130px;
        font-weight: 900;
        color: white;
        margin-bottom: 60px;
    }
    
    .sec4>article>a {
        border: 1px solid white;
        font-size: 60px;
        font-weight: 500;
        text-decoration: none;
        color: white;
        padding: 40px 300px 40px 300px;
    }
    
    .sec5 {
        height: 800px;
        width: 100%;
        background-color: rgb(243, 244, 246);
    }
    
    #contenedor-team {
        margin-top: 80px;
    }
    
    #contenedor-team>div>figure>img {
        background-color: white;
        margin: 20px;
        width: 300px;
    }
    
    .nuestroteam {
        display: flex;
        flex-direction: column;
    }
    
    .nuestroteam>h1 {
        padding-top: 240px;
        font-weight: 300;
        font-size: 50px;
        color: black;
        line-height: 0;
    }
    
    .nuestroteam>h2 {
        font-size: 80px;
        font-weight: 900;
        line-height: 1;
    }
    
    .nuestroteam>a {
        background-color: rgb(202, 83, 84);
        color: white;
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        width: 300px;
        height: 50px;
    }
    
    .nservicios>.row>div {
        text-align: left;
    }
    
    .nservicios>.row>div>h1 {
        padding-top: 50px;
        font-weight: 300;
        font-size: 30px;
        color: black;
        line-height: 0;
    }
    
    .nservicios>.row>div>h2 {
        font-size: 50px;
        font-weight: 900;
        line-height: 1;
    }
    
    .nserviciosh3 {
        padding-top: 30px;
    }
    
    .nserviciosh3>h3 {
        font-size: 21px;
        font-weight: 500;
    }
    
    .nserviciosh3>h3>img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
    .secgaleria {
        background-color: rgb(243, 244, 246);
        width: 100%;
        height: 1800px;
    }
    
    .secgaleria>div>div {
        text-align: center;
    }
    
    .secgaleria>div>div>h1 {
        color: #C85253;
        font-weight: 900;
        font-size: 55px;
    }
    
    .secgaleria>div>div>h2 {
        color: #707070;
        font-weight: 900;
        font-size: 35px;
    }
    
    .tratamientosrow {
        margin-top: 50px;
    }
    
    .tratamientosrow>div>img {
        margin: 30px 30px 4px 30px;
    }
    
    .tratamientosrow>div>h3 {
        color: white;
        text-decoration: underline;
        font-size: 16px;
        font-weight: 800;
    }
    
    .tratamientosrow>div>p {
        font-size: 14px;
        font-weight: 500;
        color: rgb(97, 108, 120);
    }
    
    .tratamientosrow>div>a {
        font-size: 20px;
        font-weight: 700;
        color: white;
        margin-top: 20px;
        padding: 7px;
        border-radius: 50px;
        text-decoration: none;
        cursor: pointer;
    }
    
    .tratamientosrow>div {
        height: 400px;
    }
    
    .sec6 {
        width: 100%;
        height: 660px;
        background-color: rgb(236, 235, 233);
    }
    
    .sec6>h2 {
        text-align: center;
        font-size: 45px;
        font-weight: 700;
        line-height: 2;
    }
    
    .sec6>div>div {
        background-color: white;
        height: 400px;
        width: 46%;
        padding: 0;
        margin-left: 30px;
        text-align: center;
    }
    
    .sec6>div>div>h3 {
        font-weight: 400;
        font-size: 15px;
        color: black;
    }
    
    .sec6>div>div>h2 {
        font-size: 20px;
        font-weight: 600;
        color: rgba(35, 195, 255, 1);
    }
    
    .sec6>div>div>p {
        font-size: 12px;
        font-weight: 400;
        padding: 5px 40px 0 40px;
        color: gray;
    }
    
    .sec6>div>div:first-child {
        color: white;
    }
    
    .sec6>div>div>img {
        height: 200px;
        width: 100%;
    }
    
    .ff {
        background-color: rgb(17, 33, 52);
        height: 560px;
        width: 100%;
    }
    
    .ff>section:first-child {
        height: 490px;
        text-align: left;
        color: rgb(97, 108, 120);
        font-size: 16px;
        font-weight: 400;
    }
    
    .ff>section:first-child>div>img {
        height: 150px;
        width: 150px;
    }
    
    .ff>section:first-child>div>h3 {
        padding-top: 30px;
        font-weight: 600;
        color: white;
        line-height: 3;
    }
    
    .pfooter>p {
        font-weight: 600;
        color: rgb(97, 108, 120);
        line-height: 1.5;
    }
    
    .ff>section:last-child {
        height: 70px;
        background-color: rgb(29, 179, 182);
        color: white;
        font-size: 15px;
        font-weight: 600;
    }
    
    .section2f {
        text-align: center;
    }
    
    .section2f>p {
        margin-top: 15px;
    }
    
    .section2>p>a {
        color: black;
        text-decoration: none;
        font-size: 15px;
    }
    /*Carrusel*/
    
    #carrusel {
        position: relative;
        float: left;
        overflow: hidden;
        width: 100%;
        height: 500px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #carrusel .left-arrow {
        position: absolute;
        left: 10px;
        z-index: 1;
        top: 50%;
        margin-top: -9px;
    }
    
    #carrusel .right-arrow {
        position: absolute;
        right: 10px;
        z-index: 1;
        top: 50%;
        margin-top: -9px;
    }
    
    .carrusel {
        width: 4000px;
        left: 0px;
        position: absolute;
        z-index: 0;
    }
    
    .carrusel>div {
        float: left;
        height: 500px;
        width: 420px;
        margin-right: 1px;
        text-align: center;
    }
    
    .carrusel img {
        width: 100%;
        height: 100%;
        border: 0;
    }
    
    .redm {
        color: #A91F24;
    }
    
    .alcenter {
        text-align: center;
    }
    
    #TestC {
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
    
    .redz {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
    }
    
    .carousel-inner {
        margin-top: -65px;
    }
    
    .carousel-control {
        top: inherit;
        bottom: 30px;
        font-size: 35px;
        left: inherit;
        z-index: 7;
        width: 2%;
        margin-right: 5%;
    }
    
    .carousel-control.left {
        background-image: none;
        filter: none;
        right: 45px;
    }
    
    .carousel-control.right {
        right: 0;
        left: auto;
        background-image: none;
        filter: none;
    }
    
    .quote-section {
        width: 70%;
        margin: 0 auto;
        position: relative;
        padding: 100px;
        font-size: 23px;
        margin-top: 4%;
        border-radius: 10px;
        color: rgb(97, 108, 120);
    }
    
    #ql {
        padding: 0px 15px 0px 15px;
    }
    
    #qr {
        padding: 0px 15px 0px 15px;
    }
    
    .autor-section {
        width: 30%;
        margin: 0 auto;
        color: black;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.2);
        margin-top: -50px;
    }